**/.fvm/flutter_sdk
**/.idea/
**/.dart_tool/
.dart_tool/
**/*.g.dart
**/.flutter-plugins-dependencies
**/.flutter-plugins
**/.env
**/.DS_Store
**/google-services.json
**/firebase_app_id_file.json
**/GoogleService-Info.json